<div class="menu">
	<div class="menu--visible" ng-click="showMenu = !showMenu">Menu</div>
	<div class="menu--hidden" ng-show="showMenu">
		<button class="menu--button" ng-click="showMenu = false" ui-sref="encounter-builder">Build Encounter</button>
		<button class="menu--button" ng-click="showMenu = false" ui-sref="encounter-manager">Manage Encounters</button>
		<button class="menu--button" ng-click="showMenu = false" ui-sref="players.manage">Manage Players</button>
		<button class="menu--button" ng-click="showMenu = false" ui-sref="battle-setup">Run Encounter</button>
	</div>
</div>
