.menu {
	background-color: #333;
	box-sizing: border-box;
	color: #ddd;
	height: $menu-button-height;
	left: 0;
	padding: 10px;
	position: fixed;
	top: 0;
	width: $menu-button-width;
	z-index: 100;

	&--hidden {
		background-color: #333;
		left: 0;
		position: absolute;
		top: 40px;
	}
}