<div
	class="encounter-builder"
	ng-class="{ 'encounter-builder__shown': encounter.qty }"
>
	<div class="encounter-builder--header">
		Encounter
		Total XP: {{ encounter.exp | number }}
		<span ng-if="encounter.qty > 1">
			Adjusted XP: {{ adjustedEncounterExp() | number }}
		</span>
		{{ encounterDifficulty() }}
	</div>
	<div class="encounter-builder--body">
		<table class="monster-table--table">
			<tbody>
				<tr
					class="monster-table--row"
					ng-repeat="(key, group) in encounter.groups"
				>
					<td>
						<button ng-click="addMonster(group.monster)" class="encounter-button">
							<i class="fa fa-plus"></i>
						</button>
						<button ng-click="removeMonster(group.monster)" class="encounter-button">
							<i class="fa fa-minus"></i>
						</button>
					</td>
					<td>
						{{ group.qty }}x {{ group.monster.name }}
					</td>
					<td>
						CR: {{ group.monster.cr.string }}
					</td>
					<td>
						XP: {{ group.monster.cr.exp | number}}
					</td>
					<td>
						<div
							ng-repeat="source in group.monster.sources"
							ng-show="filters.source[source.name]"
						>
							{{ source.name }} <span ng-if="source.page">p.{{ source.page }}</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>