<div class="filters">
	<div class="filters--section">
		<button ng-click="getRandomEncounter()">Random Encounter (experimental)</button>
	</div>
	<div class="filters--section">
		<input ng-model="filters.search" placeholder="Search...">
		<button ng-click="filters.search = null">Clear</button>
	</div>
	<div class="filters--section">
		<label>
			Size:
			<select
				ng-model="filters.size"
				ng-options="size for size in sizes"
			>
				<option value="">Any</option>
			</select>
		</label>
	</div>
	<div class="filters--section">
		<label>
			Type:
			<select
				ng-model="filters.type"
				ng-options="type for type in types"
			>
				<option value="">All</option>
			</select>
		</label>
	</div>
	<div class="filters--section">
		<label>
			Alignment:
			<select
				ng-model="filters.alignment"
				ng-options="alignment as alignment.text for (key, alignment) in alignments"
			>
				<option value="">All</option>
			</select>
		</label>
	</div>
	<div class="filters--section">
		CR:
		<label>
			Min:
			<select
				ng-model="filters.minCr"
				ng-options="cr.numeric as cr.string for cr in crList"
			>
				<option value=""></option>
			</select>
		</label>
		<label>
			Max:
			<select
				ng-model="filters.maxCr"
				ng-options="cr.numeric as cr.string for cr in crList"
			>
				<option value=""></option>
			</select>
		</label>
	</div>
	<div class="filters--section">
		<label>
			Environment:
			<select
				ng-model="filters.environment"
				ng-options="environment as environment for environment in environments"
			>
				<option value="">Any</option>
			</select>
		</label>
	</div>
	<div class="filters--section">
		Sources:
		<ul>
			<li
				class="filters--source"
				ng-repeat="source in sources"
				ng-class="{ 'filters--source__off': !filters.source[source] }"
			>
				<label>
					<input type="checkbox" ng-model="filters.source[source]">
					{{ source }}
				</label>
			</li>
		</ul>
	</div>
	<div class="filters--section">
		Group Info
		<br>
		<label>
			Players:
			<select
				ng-model="encounter.playerCount"
				ng-options="count for count in [1,2,3,4,5,6,7,8,9,10,11,12]"
				ng-change="recalculateThreatLevels()"
			></select>
		</label>
		<label>
			Level:
			<select
				ng-model="encounter.partyLevel"
				ng-options="level as level.level for level in levels"
				ng-change="recalculateThreatLevels()"
			></select>
		</label>
		<table class="filters--guidelines">
			<tr ng-class="{'filters--guidelines-active': encounterDifficulty() === 'Easy'}">
				<td>Easy:</td>
				<td class="filters--guidelines-values">{{ encounter.partyLevel.easy * encounter.playerCount | number }} exp</td>
			</tr>
			<tr ng-class="{'filters--guidelines-active': encounterDifficulty() === 'Medium'}">
				<td>Medium:</td>
				<td class="filters--guidelines-values">{{ encounter.partyLevel.medium * encounter.playerCount | number }} exp</td>
			</tr>
			<tr ng-class="{'filters--guidelines-active': encounterDifficulty() === 'Hard'}">
				<td>Hard:</td>
				<td class="filters--guidelines-values">{{ encounter.partyLevel.hard * encounter.playerCount | number }} exp</td>
			</tr>
			<tr ng-class="{'filters--guidelines-active': encounterDifficulty() === 'Deadly'}">
				<td>Deadly:</td>
				<td class="filters--guidelines-values">{{ encounter.partyLevel.deadly * encounter.playerCount | number }} exp</td>
			</tr>
		</table>
		<ul>
			<li class="filters--definition filters--definition__ludicrous">
				Ludicrous: You should not use these against this party
			</li>
			<li class="filters--definition filters--definition__deadly">
				Deadly: One of these is a deadly challenge
			</li>
			<li class="filters--definition filters--definition__hard">
				Hard: One of these is a hard challenge
			</li>
			<li class="filters--definition filters--definition__medium">
				Medium: One of these is a medium challenge
			</li>
			<li class="filters--definition filters--definition__easy">
				Easy: One of these is an easy challenge
			</li>
			<li class="filters--definition filters--definition__pair">
				Pair: Two of these is a medium challenge
			</li>
			<li class="filters--definition filters--definition__group">
				Group: Four of these is a medium challenge
			</li>
			<li class="filters--definition filters--definition__trivial">
				Trivial: Eight or more of these is a medium challenge
			</li>
		</ul>
	</div>

</div>
