<div
	class="monster-table"
	ng-class="{ 'monster-table__short': encounter.qty }"
>
	<table class="monster-table--table">
		<thead>
			<tr>
				<td></td>
				<td ng-click="filters.sort = 'name'">
					Name
				</td>
				<td ng-click="filters.sort = 'size'">
					Size
				</td>
				<td ng-click="filters.sort = 'type'">
					Type
				</td>
				<td ng-click="filters.sort = 'alignment'">
					Alignment
				</td>
				<td ng-click="filters.sort = 'cr'">
					CR
				</td>
				<td>
					Source
				</td>
			</tr>
		</thead>
		<tbody>
			<tr
				class="monster-table--row"
				ng-repeat="monster in monsters | orderBy:monsterSort"
				ng-show="checkMonster(monster, filters)"
			>
				<td>
					<button ng-click="addMonster(monster)" class="encounter-button">
						<i class="fa fa-plus"></i>
					</button>
				</td>
				<td>
					<div class="monster-table--name">
						{{ monster.name }}
					</div>
					<div ng-if="monster.section" class="monster-table--section">
						{{ monster.section }}
					</div>
				</td>
				<td> {{ monster.size }} </td>
				<td>
					{{ monster.type }}
					<span ng-if="monster.tags" class="monster-table--tags">
						({{ monster.tags.join(", ") }})
					</span>
				</td>
				<td><span ng-if="monster.alignment">
					{{ monster.alignment.text }}
				</span></td>
				<td> {{ monster.cr }} </td>
				<td>
					<div
						ng-repeat="source in monster.sources"
						ng-show="filters.source[source.name]"
					>
						{{ source.name }} <span ng-if="source.page">p.{{ source.page }}</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>