* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

table {
	border-collapse: collapse;
}

td {
	vertical-align: top;
}

ul {
	list-style-type: none;
}

input[type=number] {
	/* Remove controls from Firefox */
	-moz-appearance: textfield;

	/* Remove controls from Safari and Chrome */
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
  	margin: 0; /* Removes leftover margin */
	}


}

// /* Remove controls from Safari and Chrome */
// input[type=number]::-webkit-inner-spin-button, 
// input[type=number]::-webkit-outer-spin-button { 
//   -webkit-appearance: none;
//   margin: 0; /* Removes leftover margin */
// }

// /* Remove controls from Firefox */
// input[type=number] {
//   -moz-appearance: textfield;
// }