@mixin header {
	padding: 5px;
	background-color: #000;
	color: #ddd;
	font-weight: bold;
}

@mixin combatant-colors {
	&__player {
		background-color: $combatant-player;
	}
	&__enemy {
		background-color: $combatant-enemy;
	}
	&__lair {
		background-color: $combatant-lair;
	}
}

@mixin challenge-colors {
	&__ludicrous {
		background-color: #333;
		color: #ddd;
	}

	&__deadly {
		background-color: #fbb;
	}

	&__hard {
		background-color: #fa8;
	}

	&__medium {
		background-color: #ffb;
	}

	&__easy {
		background-color: #cfb;
	}

	&__pair {
		background-color: #bef;
	}

	&__group {
		background-color: #ebf;
	}

	&__trivial {
		background-color: #fff;
	}
}
