<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>KFC Sheet Checker</title>
	<meta charset="utf-8">
	<style>
	tr[data-severity="fail"] {
		color: red;
	}

	tr[data-severity="warn"] {
		color: goldenrod;
	}

	tr[data-severity="good"] {
		color: green;
	}

	.notice {
		padding-bottom: 20px;
	}
	</style>
</head>
<body>
<script src="thirdparty/angular/angular.js"></script>
<script src="sheetchecker.js"></script>
<script id="sheet-checker-template" language="template/angular">
	<div ng-if="viaSharable">
		<h1>IMPORTANT</h1>
		<div class="notice">
			If you usually use the secure HTTPS version of KFC, you'll need to use an HTTPS link to load this content, and vice versa. You're currently looking at the {{ secureType }} version.
			<a ng-href="{{ otherTypeLink }}">Switch to {{ otherType }}</a>
		</div>
	</div>
	<input ng-model="name" placeholder="Name (optional)">
	<input ng-model="sheetId" placeholder="Sheet ID or URL">
	<button ng-click="test()">Test</button>
	<button ng-click="add()" ng-disabled="untested || !name">Add to KFC {{ name ? "" : "(requires name)"}}</button>
	<div ng-if="sharableLink && !untested">
		Sharable link: <a href="{{ sharableLink }}">{{ sharableLink }}</a>
	</div>
	<table>
		<tr
			ng-repeat="message in messages"
			data-severity="{{ message.severity }}"
		>
			<td ng-if="message.message" colspan="4">{{ message.message }}</td>
			<td ng-if="!message.message">{{ message.fid }}</td>
			<td ng-if="!message.message">{{ message.field }}</td>
			<td ng-if="!message.message">{{ message.reason }}</td>
			<td ng-if="!message.message">{{ message.value }}</td>
		</tr>
	</table>
</script>
<script src="app/meta/alignments.js"></script>
<script src="app/meta/crInfo.js"></script>
<script src="app/services/misc.service.js"></script>
<script src="app/services/monsters.service.js"></script>
<script src="app/services/sheet-loader.service.js"></script>
<script src="scripts/monsterfactory.js"></script>

<sheet-checker></sheet-checker>
<!--
	<script src="app/app.module.js"></script>
	<script src="app/app.routes.js"></script>
	<script src="app/battle-setup/battle-setup.controller.js"></script>
	<script src="app/battle-setup/combatant-setup.component.js"></script>
	<script src="app/battle-setup/combatant-setup.controller.js"></script>
	<script src="app/battle-tracker/battle-tracker.controller.js"></script>
	<script src="app/battle-tracker/combatant.component.js"></script>
	<script src="app/common/constants.js"></script>
	<script src="app/common/difficulty-legend.component.js"></script>
	<script src="app/common/number-input.controller.js"></script>
	<script src="app/common/number-input.directive.js"></script>
	<script src="app/encounter-builder/current-encounter.component.js"></script>
	<script src="app/encounter-builder/current-encounter.controller.js"></script>
	<script src="app/encounter-builder/encounter-builder.controller.js"></script>
	<script src="app/encounter-builder/group-info.component.js"></script>
	<script src="app/encounter-builder/group-info.controller.js"></script>
	<script src="app/encounter-builder/monster-table.component.js"></script>
	<script src="app/encounter-builder/monster-table.controller.js"></script>
	<script src="app/encounter-builder/party-level-selector.component.js"></script>
	<script src="app/encounter-builder/party-level-selector.controller.js"></script>
	<script src="app/encounter-builder/search.component.js"></script>
	<script src="app/encounter-builder/search.controller.js"></script>
	<script src="app/encounter-manager/encounter-manager.controller.js"></script>
	<script src="app/encounter-manager/manager-row.component.js"></script>
	<script src="app/encounter-manager/manager-row.controller.js"></script>
	<script src="app/filters/filter-and-sort-monsters.filter.js"></script>
	<script src="app/filters/positive-and-negative-numbers.filter.js"></script>
	<script src="app/filters/sort-encounter.filter.js"></script>
	<script src="app/meta/player-levels.js"></script>
	<script src="app/navbar/navbar.component.js"></script>
	<script src="app/players/edit-players.controller.js"></script>
	<script src="app/players/manage-players.controller.js"></script>
	<script src="app/players/players.controller.js"></script>
	<script src="app/services/actionQueue.service.js"></script>
	<script src="app/services/combat.service.js"></script>
	<script src="app/services/encounter.service.js"></script>
	<script src="app/services/integration.service.js"></script>
	<script src="app/services/library.service.js"></script>
	<script src="app/services/metaInfo.service.js"></script>
	<script src="app/services/party-info.service.js"></script>
	<script src="app/services/players.service.js"></script>
	<script src="app/services/randomencounter.service.js"></script>
	<script src="app/services/sources.service.js"></script>
	<script src="app/services/store.service.js"></script>
	<script src="app/test.controller.js"></script>
	<script src="app/util/logger.js"></script>
	<script src="app/util/router-helper.provider.js"></script>
	<script src="app/util/shuffle.js"></script>
	-->
</body>
</html>
