<div class="encounter-manager-encounter">
	<div class="encounter-manager-encounter--controls">
		<div class="encounter-manager-encounter--name">
			{{ storedEncounter.name }}
		</div>
		<div class="encounter-manager-encounter--exp">
			Exp: {{ vm.calculateExp(storedEncounter) }}
		</div>
		<button
			class="encounter-manager-encounter--load-button"
			ng-click="vm.load(storedEncounter)"
			ng-if="vm.encounter.reference != storedEncounter"
		>Choose</button>
		<button
			class="encounter-manager-encounter--remove-button"
			ng-click="vm.remove(storedEncounter)"
		>Remove</button>
		<span
			class="encounter-manager-encounter--active"
			ng-if="vm.encounter.reference == storedEncounter"
		>
			Active
		</span>
	</div>

	<div class="encounter-manager-monster" ng-repeat="(id, qty) in storedEncounter.groups">
		<span ng-if="qty > 1">{{ qty }}x</span>
		{{ vm.monsters.byId[id].name }}
	</div>
</div>
