.number-input {
	&--button {
		@extend .encounter-button;

		&__positive:not(:first-child) {
			margin-left: 3px;
		}

		&__negative:not(:first-child) {
			margin-left: 3px;
		}

		&__hidden {
			visibility: hidden;
		}
	}

	&--value {
		display: inline-block;
		width: 45px;
		text-align: center;
	}
}