<div class="manage-players">
	<div class="manage-players--party" ng-repeat="party in vm.players.parties">
		<button
			class="manage-players--party-select-button"
			ng-if="vm.players.selectedParty != party"
			ng-click="vm.select(party)"
		>Select this party</button>
		<span
			class="manage-players--selected-party"
			ng-if="vm.players.selectedParty == party"
		>Selected</span>
		<div class="manage-players--player" ng-repeat="player in party">
			<span class="manage-players--player--name">
				{{ player.name }}
			</span>
			<span class="manage-players--player--init">
				Initiative: <span ng-if="player.initiativeMod >= 0">+</span>{{ player.initiativeMod }} <span ng-if="player.advantageOnInitiative">(Adv)</span>
			</span>
			<span class="manage-players--player--hp">
				HP: {{ player.hp - player.damage }} / {{ player.hp }}
			</span>
		</div>
	</div>
</div>
