.manage-players {
	&--party {
		padding-top: 10px;
	}

	&--party-select-button {
		@extend .encounter-button;
		margin-left: 10px;
		margin-bottom: 5px;
	}

	&--player {
		padding: 10px;
		border-top: 1px solid #000;
		background-color: $combatant-player;

		&:last-child {
			border-bottom: 1px solid #000;
		}

		&--name {
			display: inline-block;
			width: 250px;
		}
		&--init {
			display: inline-block;
			width: 150px;
		}
		&--hp {
			display: inline-block;
			width: 80px;
		}
	}

	&--selected-party {
		display: inline-block;
		font-weight: bold;
		height: 25px;
		margin-bottom: 5px;
		margin-left: 10px;
		vertical-align: middle;
	}
}
