<div class="account">
	<div ng-if="!account.loginProvider || acount.loginProvider == 'anonymous'">
		<button ng-click="login('google')">Log in with Google</button>
		<button ng-click="login('github')">Log in with Github</button>
		<button ng-click="login('twitter')">Log in with Twitter</button>
	</div>

	<div ng-if="account.loginProvider &amp;&amp; acount.loginProvider != 'anonymous'">
		Logged in with {{ account.loginProvider }} as {{ account.userId }}
		<button ng-click="account.logout()">Log out</button>
	</div>
</div>
