@import 'current-encounter';
@import 'group-info';
@import 'monster-table';
@import 'pagination';
@import 'search';

.sidebar {
	&--legend {
		bottom: 0;
		right: 1rem;
		position: fixed;
		text-align: right;
		z-index: 2;

		@include challenge-colors;

		li {
			padding: 5px;
		}

		&-popout {
			text-align: left;
		}
	}
}

.legend-sm {
		@include challenge-colors;
		
		li {
			padding: 5px;
		}
	}