.current-encounter {
	display: none;
	margin-top: 2rem;

	&__shown {
		display: block;
	}

	&--empty {
		border-radius: 0.5rem;
		margin-top: 2rem;
		padding: 1rem;
	}

	&--row {
		margin-bottom: 2rem;
		display: flex;
		flex-direction: row;
	}

	&--monster-info {
		flex-grow: 1;
		padding-bottom: 0.5rem;
	}

	&--monster-qty-col {

	}


	&--monster-name {
		font-size: 2.25em;
		font-weight: 300;
	}

	&--monster-qty {
		display: inline;
		vertical-align: middle;
		width: 6rem;
	}

	&--monster-qty-btns {
		display: inline-block;
		vertical-align: middle;

		button {
			display: block;
		}
	}

	&--monster-source {
		overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	}

	&--header {
		@include header;
	}

	&--new-button,
	&--save-button {
		@extend .encounter-button;
		margin: 5px;
	}
}