.encounter-builder {
	display: none;

	&__shown {
		display: block;
	}

	&--column {
		&__source {	max-width: 15rem; }
	}

	&--header {
		@include header;
	}

	&--new-button,
	&--save-button {
		@extend .encounter-button;
		margin: 5px;
	}
}