.encounter-builder {
	display: none;
	
	bottom: 0;
	left: $sidebar-width;
	right: 0;
	height: $encounter-builder-height;
	box-sizing: border-box;

	&__shown {
		display: block;
	}

	&--body {
		top: 30px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
	}

	&--column {
		&__buttons {	width: 125px; }
		&__cr {			width: 60px; }
		&__exp {		width: 100px; }
		&__source {		width: 180px; }
		&__name {
			line-height: $button-line-height;
			width: auto;
		}
	}

	&--header {
		@include header;

		top: 0;
		left: 0;
		right: 0;
	}

	&--new-button,
	&--save-button {
		@extend .encounter-button;
		margin: 5px;
	}

	&--row {
		border-bottom: 1px solid black;
	}

	&--table {
		width: 100%;

		> tbody > tr > td {
			padding: 5px;
		}
	}
}