<div
	class="encounter-builder"
	ng-class="{ 'encounter-builder__shown': encounter.qty }"
>
	<div class="encounter-builder--header">
		Encounter
		Total XP: {{ encounter.exp | number }}
		Adjusted XP: {{ encounter.adjustedExp | number }}
		{{ encounter.difficulty }}
	</div>
	<div class="encounter-builder--body">
		<button class="encounter-builder--new-button" ng-click="encounter.reset()">
			New encounter
		</button>
		<table class="encounter-builder--table">
			<tbody>
				<tr
					class="encounter-builder--row"
					ng-repeat="group in encounter.groups | sortEncounter"
				>
					<td class="encounter-builder--column__buttons">
						<button ng-click="encounter.add(group.monster)" class="encounter-button">
							<i class="fa fa-plus"></i>
						</button>
						<button ng-click="encounter.remove(group.monster)" class="encounter-button">
							<i class="fa fa-minus"></i>
						</button>
						<button ng-click="encounter.randomize(group.monster, filters)" class="encounter-button">
							<i class="fa fa-random"></i>
						</button>
					</td>
					<td class="encounter-builder--column__name">
						{{ group.qty }}x {{ group.monster.name }}
					</td>
					<td class="encounter-builder--column__cr">
						CR: {{ group.monster.cr.string }}
					</td>
					<td class="encounter-builder--column__exp">
						XP: {{ group.monster.cr.exp | number}}
					</td>
					<td class="encounter-builder--column__source">
						<div
							ng-repeat="source in group.monster.sources"
							ng-show="filters.source[source.name]"
						>
							{{ source.name }} <span ng-if="source.page">p.{{ source.page }}</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>