<div class="filters">
	<h2 class="filters--header">Group Info</h2>
	<div class="filters--section filters--group-info row">
			<div class="filters--group-info-section">
				<label>Players:</label>
				<select
						ng-model="encounter.playerCount"
						ng-options="count for count in [1,2,3,4,5,6,7,8,9,10,11,12]"
						ng-change="encounter.recalculateThreatLevels()"
					></select>
			</div>
			<div class="filters--group-info-section">
				<label>Level:</label>
				<select
					ng-model="encounter.partyLevel"
					ng-options="level as level.level for level in levels"
					ng-change="encounter.recalculateThreatLevels()"
				></select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table class="filters--guidelines">
				<tr ng-class="{'filters--guidelines-active': encounter.difficulty === 'Easy'}">
					<td>Easy:</td>
					<td class="filters--guidelines-values">{{ encounter.partyLevel.easy * encounter.playerCount | number }} exp</td>
				</tr>
				<tr ng-class="{'filters--guidelines-active': encounter.difficulty === 'Medium'}">
					<td>Medium:</td>
					<td class="filters--guidelines-values">{{ encounter.partyLevel.medium * encounter.playerCount | number }} exp</td>
				</tr>
				<tr ng-class="{'filters--guidelines-active': encounter.difficulty === 'Hard'}">
					<td>Hard:</td>
					<td class="filters--guidelines-values">{{ encounter.partyLevel.hard * encounter.playerCount | number }} exp</td>
				</tr>
				<tr ng-class="{'filters--guidelines-active': encounter.difficulty === 'Deadly'}">
					<td>Deadly:</td>
					<td class="filters--guidelines-values">{{ encounter.partyLevel.deadly * encounter.playerCount | number }} exp</td>
				</tr>
			</table>
		</div>
	</div>
</div>
