.filters {
	padding: 5px;
	overflow: auto;
	box-sizing: border-box;

	&--definition {
		padding: 5px;
		@include challenge-colors;
	}

	&--guidelines-active {
		font-weight: bold;
	}

	&--guidelines-values {
		text-align: right;
		padding-left: 5px;
		padding-right: 20px;
	}

	&--option {
		&__active {
			outline: 3px solid yellow;
			background-color: yellow;
			margin-right: 3px;
		}
	}

	&--section {
		padding-bottom: 10px;
	}

	&--source {
		&__off {
			color: #ddd;
			text-decoration: line-through;
		}
	}

	&--legend {
		bottom:0;
	}
}
