.filters {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: $sidebar-width;
	padding: 5px;
	overflow: auto;
	box-sizing: border-box;

	&--definition {
		padding: 5px;
		@include challenge-colors;
	}

	&--guidelines-active {
		font-weight: bold;
	}

	&--guidelines-values {
		text-align: right;
		padding-left: 5px;
		padding-right: 20px;
	}

	&--section {
		padding-bottom: 10px;

		&:first-child {
			@include avoid-menu;
			box-sizing: border-box;
		}
	}

	&--source {
		&__off {
			color: #ddd;
			text-decoration: line-through;
		}
	}
}
