.filters {
	padding-bottom: 1rem;
	border-bottom: 1px solid #ddd;

	&--header {
		margin-top: 0;
	}

	&--group-info {
		label {
			display: block;
		}

		&-section {
			@include make-xs-column(2);
			width: 9rem;
		}

		&-section:last-child {
			padding-left: 0;
		}
	}

	&--guidelines {
		margin-top: 1rem;
	}

	&--guidelines-active {
		font-weight: bold;
	}

	&--guidelines-values {
		text-align: right;
		padding-left: 5px;
		padding-right: 20px;
	}
}
