<div class="filters">
	<div class="filters--section">
		<button class="btn btn-primary" ng-click="encounter.generateRandom(filters)">Random Encounter</button>
	</div>
	
	<div class="filters--section">
		<h3>Group Info</h3>
		<label>Players:</label>
		<select
				ng-model="encounter.playerCount"
				ng-options="count for count in [1,2,3,4,5,6,7,8,9,10,11,12]"
				ng-change="encounter.recalculateThreatLevels()"
			></select>
		<label>Level:</label>
		<select
			ng-model="encounter.partyLevel"
			ng-options="level as level.level for level in levels"
			ng-change="encounter.recalculateThreatLevels()"
		></select>
		<table class="filters--guidelines">
			<tr ng-class="{'filters--guidelines-active': encounter.difficulty === 'Easy'}">
				<td>Easy:</td>
				<td class="filters--guidelines-values">{{ encounter.partyLevel.easy * encounter.playerCount | number }} exp</td>
			</tr>
			<tr ng-class="{'filters--guidelines-active': encounter.difficulty === 'Medium'}">
				<td>Medium:</td>
				<td class="filters--guidelines-values">{{ encounter.partyLevel.medium * encounter.playerCount | number }} exp</td>
			</tr>
			<tr ng-class="{'filters--guidelines-active': encounter.difficulty === 'Hard'}">
				<td>Hard:</td>
				<td class="filters--guidelines-values">{{ encounter.partyLevel.hard * encounter.playerCount | number }} exp</td>
			</tr>
			<tr ng-class="{'filters--guidelines-active': encounter.difficulty === 'Deadly'}">
				<td>Deadly:</td>
				<td class="filters--guidelines-values">{{ encounter.partyLevel.deadly * encounter.playerCount | number }} exp</td>
			</tr>
		</table>
	</div>
</div>
