<div
	class="monster-table"
	ng-class="{ 'monster-table__short': encounter.qty }"
>
	<table class="monster-table--table">
		<thead>
			<tr>
				<td class="monster-table--column__button"></td>
				<td
					class="monster-table--column__name"
					ng-click="filters.sort = 'name'"
				>
					Name
				</td>
				<td
					class="monster-table--column__size"
					ng-click="filters.sort = 'size'"
				>
					Size
				</td>
				<td
					class="monster-table--column__type"
					ng-click="filters.sort = 'type'"
				>
					Type
				</td>
				<td
					class="monster-table--column__alignment"
					ng-click="filters.sort = 'alignment'"
				>
					Alignment
				</td>
				<td
					class="monster-table--column__cr"
					ng-click="filters.sort = 'cr'"
				>
					CR
				</td>
				<td class="monster-table--column__environment">
					Environment
				</td>
				<td class="monster-table--column__source">
					Source
				</td>
			</tr>
		</thead>
		<tbody>
			<tr
				class="monster-table--row"
				dir-paginate="monster in monsters | monstersFilter:filters | itemsPerPage: filters.pageSize"
				ng-class="'monster-table--row__' + dangerZone(monster)"

			>
				<td>
					<button ng-click="addMonster(monster)" class="encounter-button">
						<i class="fa fa-plus"></i>
					</button>
				</td>
				<td>
					<div class="monster-table--name">
						{{ monster.name }}
					</div>
					<div ng-if="monster.section" class="monster-table--section">
						{{ monster.section }}
					</div>
				</td>
				<td> {{ monster.size }} </td>
				<td>
					{{ monster.type }}
					<span ng-if="monster.tags" class="monster-table--tags">
						({{ monster.tags.join(", ") }})
					</span>
				</td>
				<td><span ng-if="monster.alignment">
					{{ monster.alignment.text }}
				</span></td>
				<td> {{ monster.cr.string }} </td>
				<td> {{ monster.environments.join(", ") }} </td>
				<td>
					<div
						ng-repeat="source in monster.sources"
						ng-show="filters.source[source.name]"
					>
						{{ source.name }} <span ng-if="source.page">p.{{ source.page }}</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>