.monster-table {
	
	.monster-table--row {
		@include challenge-colors;
	}

	.monster-table--section {
		font-size: 0.95rem;
		font-variant: small-caps;
	}

	.monster-table--tags {
		font-style: italic;
	}
}