.pagination-container {
	text-align: center;

	select,option {
		color: black;
	}

	dir-pagination-controls {
		display: inline-block;
		vertical-align: middle;
	}

	.pagination-container--size-controls {	
		display: inline-block;
		margin-left: 10px;
		vertical-align: middle;
	}
}