.pagination-container {
	position: fixed;
	top: 0;
	left: $sidebar-width;
	right: 0;
	height: $pagination-height;
	text-align: center;
	background-color: #000;

	select,option {
		color: black;
	}

	.pagination-container--size-controls {
		color: #ddd;
		position: fixed;
		top: 10px;
		right: 10px;
	}
}