.search {
	&--search-form * {
		margin-bottom: 1rem;
	}

	& .search-input {
		min-width: 45rem;
	}

	&--sources-button {
		display: inline-block;
	}

	.search--size-controls {
		margin-top: 0.5rem;
	}
}
