.search {
	display: flex;

	&--search-form {
		flex-grow: 1;
	}

	&--search-form * {
		margin-bottom: 1rem;
	}

	& .search-input {
		min-width: 45rem;
	}

	&--sources-button {
		display: inline-block;
	}

	&--size-controls {
		margin-top: 0.5rem;
	}

	&--reset {
		margin-left: 1rem;
	}

	&--page-size {
		width: 10rem;
	}

	&--section {
		margin-left: 1rem;
	}
}
