<div class="encounter-manager">
	<div
		class="encounter-manager--no-encounters"
		ng-if="!vm.encounter.qty && !vm.library.encounters.length"
	>
		You don't have any encounters saved.
		<button ui-sref="encounter-builder">Return to encounter builder</button>
	</div>
	<div class="encounter-manager-encounter encounter-manager-encounter__unsaved"
		ng-if="vm.encounter.qty && !vm.encounter.reference">
		<div class="encounter-manager-encounter--controls">
			<input
				class="encounter-manager-encounter--name-input"
				placeholder="{{ vm.newEncounter.placeholder }}"
				ng-model="vm.newEncounter.name"
			>
			<button
				class="encounter-manager-encounter--save-button"
				ng-click="vm.save('encounter')"
			>Save as Encounter</button>

			<button
				class="encounter-manager-encounter--save-button"
				ng-click="vm.save('pool')"
			>Save as Table</button>
		</div>

		<div
			class="encounter-manager-monster"
			ng-repeat="(id, group) in vm.encounter.groups"
		>
			<span ng-if="group.qty > 1">{{ group.qty }}x</span>
			{{ group.monster.name }}
		</div>
	</div>

	<h3>Encounters</h3>
	<div ng-repeat="storedEncounter in vm.library.encounters | filter:{type:'!pool'} track by $index">
		<manager-row stored-encounter='storedEncounter'></manager-row>
	</div>

	<h3>Random Encounter Tables</h3>
	<div class="random-encounter-pools" ng-repeat="storedEncounter in vm.library.encounters | filter:{type:'pool'} track by $index">
		<manager-row stored-encounter='storedEncounter'></manager-row>
	</div>

</div>