<div class="encounter-manager-encounter">
	<div class="encounter-manager-encounter--controls">
		<div class="encounter-manager-encounter--name">
			{{ $ctrl.storedEncounter.name }}
		</div>
		<div class="encounter-manager-encounter--exp">
			Exp: {{ $ctrl.calculateExp($ctrl.storedEncounter) }}
		</div>
		<button
			class="encounter-manager-encounter--load-button"
			ng-click="$ctrl.load($ctrl.storedEncounter)"
			ng-if="$ctrl.encounter.reference != $ctrl.storedEncounter"
		>Choose</button>
		<button
			class="encounter-manager-encounter--remove-button"
			ng-click="$ctrl.remove($ctrl.storedEncounter)"
		>Remove</button>
		<span
			class="encounter-manager-encounter--active"
			ng-if="$ctrl.encounter.reference == $ctrl.storedEncounter"
		>
			Active
		</span>
	</div>

	<div class="encounter-manager-monster" ng-repeat="(id, qty) in $ctrl.storedEncounter.groups">
		<span ng-if="qty > 1">{{ qty }}x</span>
		{{ $ctrl.monsters.byId[id].name }}
	</div>
</div>
