<div class="encounter-manager-row">
	<div class="encounter-manager-row--controls">
		<div class="encounter-manager-row--name">
			{{ vm.storedEncounter.name }}
		</div>
		<div class="encounter-manager-row--exp">
			Exp: {{ vm.calculateExp(vm.storedEncounter) }}
		</div>
		<button
			class="encounter-manager-row--load-button"
			ng-click="vm.load(vm.storedEncounter)"
			ng-if="vm.encounter.reference != vm.storedEncounter"
		>Choose</button>
		<button
			class="encounter-manager-row--remove-button"
			ng-click="vm.remove(vm.storedEncounter)"
		>Remove</button>
		<span
			class="encounter-manager-row--active"
			ng-if="vm.encounter.reference == vm.storedEncounter"
		>
			Active
		</span>
	</div>

	<div class="encounter-manager-monster" ng-repeat="(id, qty) in vm.storedEncounter.groups">
		<span ng-if="qty > 1">{{ qty }}x</span>
		{{ vm.monsters.byId[id].name }}
	</div>
</div>
