.encounter-manager-row {
	margin-bottom: 1rem;

	&--active {
		display: inline-block;
		height: 25px;
		font-weight: bold;
	}

	&--controls {
		padding: 10px;
		border-bottom: 1px solid #000;
	}

	&--exp {
		font-variant: small-caps;
	}

	&--save-button,
	&--remove-button,
	&--load-button {
		@extend .encounter-button;
	}
}

.encounter-manager-monster {
	padding: 10px;
	border-bottom: 1px solid #000;
	background-color: $combatant-enemy;
}

.random-encounter-pools .encounter-manager-monster {
	background-color: lighten(#ebf, 7%);
}