<h2>
	Encounter Info
	<div class="btn-group pull-right"> 
		<button class="btn btn-info" ng-click="vm.generateRandom()">{{vm.randomButtonText()}}</button>
		<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#" ng-click="vm.generateRandom('easy')">Random Easy</a></li>
			<li><a href="#" ng-click="vm.generateRandom('medium')">Random Medium</a></li>
			<li><a href="#" ng-click="vm.generateRandom('hard')">Random Hard</a></li>
			<li><a href="#" ng-click="vm.generateRandom('deadly')">Random Deadly</a></li>
		</ul>
	</div>
</h2>
 <p class="current-encounter--empty bg-info text-muted" ng-if="vm.encounter.qty == 0">
	Create an encounter by clicking the Random encounter button or by adding monsters from the monsters table.
</p>
<div class="current-encounter" ng-class="{ 'current-encounter__shown': vm.encounter.qty }">
	<div class="current-encounter--body">
		<div class="current-encounter--table">
			<div class="current-encounter--row" ng-repeat="group in vm.encounter.groups | sortEncounter">
					<div class="current-encounter--monster-info">
						<span class="current-encounter--monster-name text-capitalized">{{ group.monster.name }}</span>
						<div>
							<span class="current-encounter--monster-cr">CR: {{ group.monster.cr.string }}</span>
							<span class="current-encounter--monster-xp">XP: {{ group.monster.cr.exp | number}}</span>
								<div class="current-encounter--monster-source" ng-repeat="source in group.monster.sources" ng-show="vm.filters.source[source.name]" title="{{source.name}} p.{{source.page}}">
									{{ source.name }} 
									<span ng-if="source.page">p.{{ source.page }}</span> 
									<span ng-if="source.url"><a target="_blank" href="{{ source.url }}">[Link]</a></span>
								</div>
						</div>
					</div>
					<div class="current-encounter--monster-qty-col">
						<button ng-click="vm.encounter.randomize(group.monster, vm.filters)" class="btn btn-default" title="Randomize Monster">
							<i class="fa fa-random"></i>
						</button>
						<input class="current-encounter--monster-qty form-control input-lg" type="number" ng-model="group.qty">
						<div class="current-encounter--monster-qty-btns">
							<button ng-click="vm.encounter.add(group.monster)" class="btn btn-xs btn-success">
								<i class="fa fa-plus"></i>
							</button>
							<button ng-click="vm.encounter.remove(group.monster)" class="btn btn-xs btn-danger">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
			</div>
		</div>
		<div class="current-encounter--totals">
			<div class="current-encounter--totals-difficulty">Difficulty: {{ vm.encounter.difficulty }}</div>
			<div class="current-encounter--totals-xp">
				<span>Total XP: {{ vm.encounter.exp | number }}</span>
				<span>Adjusted XP: {{ vm.encounter.adjustedExp | number }}</span>
			</div>
		</div>
		<div class="current-encounter--btns">
			<button class="btn btn-danger btn-new" ng-click="vm.encounter.reset()">New</button>
			<button class="btn btn-primary" ui-sref="encounter-manager" ng-if="!vm.encounter.reference">Save</button>
		</div>
	</div>
</div>
 