<div class="encounter-builder container-fluid" role="main">
	<div class="row">
		<div class="col-md-4">
			<group-info></group-info>
			<div class="encounter-builder--current-encounter-container">
				<div
					class="encounter-builder--current-encounter-slider"
					ng-class="{'encounter-builder--current-encounter-slider__shown': encounterShown }"
				>
					<div
						class="encounter-builder--encounter-info-bar"
						ng-click="encounterShown = !encounterShown"
					>
						<i
							class="fa encounter-builder--toggle-arrow"
							ng-class="{
								'fa-toggle-up': !encounterShown,
								'fa-toggle-down': encounterShown
							}"
							aria-hidden="true"
						></i>
						<div class="encounter-builder--encounter-info-text">
							<span ng-if="vm.encounter.exp">
								{{ vm.getMonsterQtyString() }}, {{ vm.encounter.exp }} exp ({{ vm.encounter.difficulty }})
							</span>
							<span ng-if="!vm.encounter.exp">
								<span ng-if="encounterShown">Browse monsters</span>
								<span ng-if="!encounterShown">Manage encounter</span>
							</span>
						</div>
					</div>

					<div class="encounter-builder--current-encounter">
						<current-encounter filters='vm.filters'></current-encounter>
					</div>
				</div>
			</div>
			<div class="difficulty-legend hidden-xs hidden-sm">
				<button class="btn btn-warning difficulty-legend-button" type="button" data-toggle="collapse" data-target="#legend-collapse">Legend
					<i class="fa fa-angle-double-up" aria-hidden="true"></i>
				</button>
				<div id="legend-collapse" class="difficulty-legend-popout collapse" aria-expanded="false" aria-controls="legend-collapse">
					<difficulty-legend></difficulty-legend>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<search-controls filters='vm.filters'></search-controls>
			<monster-table filters='vm.filters'></monster-table>
			<div class="difficulty-legend-sm visible-xs visible-sm">
				<difficulty-legend show-header='true'></difficulty-legend>
			</div>
		</div>
	</div>
</div>
