<div class="group-info">
	<div class="group-info--input">
		<h2 class="group-info--header">Group Info</h2>
		<div class='group-info--party-level-row row' ng-repeat="partyLevel in vm.partyInfo.partyLevels">
			<party-level-selector party-level="partyLevel" first="$first"></party-level-selector>
		</div>
		<button class="btn btn-xs btn-info group-info--add-level" title="Add Another Party Level" ng-click="vm.addPartyLevel()"><i class="fa fa-plus"></i> Add Another Level</button>
	</div>
	<ul class="group-info--guidelines list-unstyled">
		<li ng-class="{'group-info--guidelines-active': vm.encounter.difficulty === 'Easy'}">
			<span>Easy:</span>
			<span class="group-info--guidelines-values">{{ vm.partyInfo.totalPartyExpLevels.easy | number }} exp</span>
		</li>
		<li ng-class="{'group-info--guidelines-active': vm.encounter.difficulty === 'Medium'}">
			<span>Medium:</span>
			<span class="group-info--guidelines-values">{{ vm.partyInfo.totalPartyExpLevels.medium | number }} exp</span>
		</li>
		<li ng-class="{'group-info--guidelines-active': vm.encounter.difficulty === 'Hard'}">
			<span>Hard:</span>
			<span class="group-info--guidelines-values">{{ vm.partyInfo.totalPartyExpLevels.hard | number }} exp</span>
		</li>
		<li ng-class="{'group-info--guidelines-active': vm.encounter.difficulty === 'Deadly'}">
			<span>Deadly:</span>
			<span class="group-info--guidelines-values">{{ vm.partyInfo.totalPartyExpLevels.deadly | number }} exp</span>
		</li>
		<br/>
		<li>
			<span>Daily Budget:</span>
			<span class="group-info--guidelines-values pt-1">{{ vm.partyInfo.totalPartyExpLevels.budget | number }} exp</span>
		</li>
	</ul>
</div>