.group-info {
	display: flex;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ddd;

	&--header {
		display: inline-block;
		margin-top: 0;
		width: 20rem;
	}

	&--party-level-row {
		margin-bottom: 0.5em;
	}

	&--input {
		flex-grow: 1;

		label {
			display: block;
		}

		&-section {
			@include make-xs-column(2);
			width: 7rem;
		}
	}

	&--add-level {
		margin-top: 1em;

		.fa-plus {
			margin-right: 5px;
		}
	}

	&--guidelines {
		margin-top: 1rem;
		text-align: right;
	}

	&--guidelines-active {
		font-weight: bold;
	}

	&--guidelines-values {
		text-align: right;
		padding-left: 5px;
	}
}
