<div class="monster-table table-responsive">
	<table class="monster-table--table table table-bordered table-striped">
		<thead>
			<tr>
				<th class="monster-table--column monster-table--column__button"></th> 
				<th
					class="monster-table--column monster-table--column__sortable monster-table--column__name"
					ng-click="vm.filters.sort = 'name'">
					Name
				</th>
				<th
					class="monster-table--column monster-table--column__sortable monster-table--column__cr"
					ng-click="vm.filters.sort = 'cr'">
					CR
				</th>
				<th
					class="monster-table--column monster-table--column__sortable monster-table--column__size"
					ng-click="vm.filters.sort = 'size'">
					Size
				</th>
				<th
					class="monster-table--column monster-table--column__sortable monster-table--column__type"
					ng-click="vm.filters.sort = 'type'">
					Type
				</th>
				<th
					class="monster-table--column monster-table--column__sortable monster-table--column__alignment"
					ng-click="vm.filters.sort = 'alignment'">
					Alignment
				</th>
				<th class="monster-table--column monster-table--column__source">
					Source
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="monster-table--warning-row" ng-if="vm.filters.search && (vm.monsters | countHiddenMonstersFilter:vm.filters) > 0">
				<td colspan="7" class="monster-table--filter-warning-cell">
					{{ vm.monsters | countHiddenMonstersFilter:vm.filters }} monsters hidden by filters or in unselected sources
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr
				dir-paginate="monster in vm.monsters | monstersFilter:vm.filters | itemsPerPage: vm.filters.pageSize"
				class="monster-table--row">

				<td class="monster-table--button-cell">
					<button ng-click="vm.encounter.add(monster)" class="btn btn-sm btn-success">
						<i class="fa fa-plus"></i>
					</button>
				</td>
				<td class="monster-table--name-cell">
					<div class="monster-table--name">
						{{ monster.name }}
					</div>
					<div ng-if="monster.section" class="monster-table--section">
						<span class="monster-table--label">Section:</span>
						{{ monster.section }}
					</div>
				</td>
				<td class="monster-table--cr-cell" ng-class="'monster-table--cr-cell__' + vm.dangerZone(monster)">
					<span class="monster-table--cr-label">CR</span>
					{{ monster.cr.string }}
				</td>
				<td class="monster-table--size-cell">
					<span class="monster-table--label">Size:</span>
					{{ monster.size }}
				</td>
				<td class="monster-table--type-cell">
					<span class="monster-table--label">Type:</span>
					{{ monster.type }}
					<span ng-if="monster.tags" class="monster-table--tags">
						({{ monster.tags.join(", ") }})
					</span>
				</td>
				<td class="monster-table--alignment-cell"><span ng-if="monster.alignment">
					<span class="monster-table--label">Alignment:</span>
					{{ monster.alignment.text }}
				</span></td>
				<td class="monster-table--source-cell">
					<span class="monster-table--label">Source(s):</span>
					<div
						class="monster-table--sources"
						ng-repeat="source in monster.sources"
						ng-show="vm.filters.source[source.name]">
							<span class="monster-table--source-name monster-table--source-name__short" title="{{ source.name }}">
								{{ vm.sources.shortNames[source.name] }}
							</span>
							<span class="monster-table--source-name monster-table--source-name__long">
								{{ source.name }}
							</span>
							<span ng-if="source.page">p.{{ source.page }}</span>
							<span ng-if="source.url"><a target="_blank" href="{{ source.url }}">[Link]</a></span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="pagination-container">
	<dir-pagination-controls></dir-pagination-controls>
</div>
