.search {
	display: flex;

	&--search-form {
		flex-grow: 1;

		&--sort-control {
			display: none !important;
		}

		&--pool-control {
			max-width: 300px;
		}
	}

	&--search-form * {
		margin-bottom: 1rem;
		margin-right: 0.5rem;
	}

	& .search-input {
		@include make-md-column(6);
		margin-right: 1rem;
	}

	&--sources-button {
		display: inline-block;
	}

	&--size-controls {
		margin-top: 0.5rem;
	}

	&--reset {
		margin-left: 1rem;
	}

	&--page-size {
		width: 10rem;
	}

	&--section {
		margin-left: 1.2rem;
	}

	&--content-row {
		margin-top: 10px;
	}

	&--sheet-link {
		font-size: 1rem;
		font-family: monospace;
	}
}

.sources-modal {
	&--source-section-header {
		font-weight: bold;
		font-size: 2rem;
	}
}

@media (max-width: 768px) {
	.search--search-form--sort-control {
		display: inline-block !important;
	}
}
