<div class="search">
	<div class="search--search-form form-inline">
		<label class="sr-only">Search</label>
		<div class="search-wrapper">
			<input class="form-control search-input" type="text" ng-model="vm.filters.search" placeholder="Search...">
			<button type="button" class="btn btn-primary form-control search-re-button" data-toggle="modal" data-target="#regexModal">
				/re/
			</button>
		</div>
		<select class="form-control"
				ng-model="vm.filters.size"
				ng-options="size for size in vm.sizes">
			<option value="">Any Size</option>
		</select>

		<select class="form-control"
				ng-model="vm.filters.type"
				ng-options="type for type in vm.types">
			<option value="">Any Type</option>
		</select>

		<select class="form-control"
				ng-model="vm.filters.minCr"
				ng-options="cr.numeric as cr.string for cr in vm.crList">
				<option value="">Min CR</option>
			</select>
		
		<select class="form-control"
				ng-model="vm.filters.maxCr"
				ng-options="cr.numeric as cr.string for cr in vm.crList">
			<option value="">Max CR</option>
		</select>

		<select class="form-control"
			ng-model="vm.filters.alignment"
			ng-options="alignment as alignment.text for (key, alignment) in vm.alignments">
			<option value="">Any Alignment</option>
		</select>

		<select class="form-control"
				ng-model="vm.filters.environment"
				ng-options="environment as environment for environment in vm.environments">
			<option value="">Any Environment</option>
		</select>
		<select class="form-control"
				ng-model="vm.filters.legendary"
				ng-options="legendary as legendary for legendary in vm.legendaryList">
			<option value="">Any Legendary</option>
		</select>
		<span ng-if="(vm.encounters | filter:{type:'pool'}).length > 0">
			<select class="form-control search--search-form--pool-control"
					ng-model="vm.filters.pool"
					ng-options="pool.name as pool.name+' Table' for pool in vm.encounters | filter:{type:'pool'}">
				<option value="">Any Table</option>
			</select>
		</span>
		<select class="form-control search--search-form--sort-control"
			ng-model="vm.filters.sort"
			ng-options="sortChoice.value as 'Sort by ' + sortChoice.text for sortChoice in vm.sortChoices">
		</select>
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#sourcesModal">
			Set Sources
		</button>
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#contentModal">
			Manage Content
		</button>
	</div>
	<div class="search--reset">
		<button class="btn btn-danger" ng-click="vm.resetFilters()">Reset Filters</button>

		<div class="search--size-controls">
			<label>Page size:</label>
			<select class="form-control search--page-size"
				ng-model="vm.filters.pageSize"
				ng-options="page for page in [10, 25, 50, 100, 250, 500, 1000]"
			></select>
		</div>
	</div>
	<!-- Sources Modal -->
	<div class="modal" id="sourcesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Set Source Material</h4>
			</div>
			<div class="modal-body">
				<div
					class="sources-modal--source-section"
					ng-repeat="section in getSourceSections()"
				>

					<button class="btn btn-primary" ng-click="vm.updateSourceFilters({ type: section.name, enabled: true })">All</button>
					<button class="btn btn-primary" ng-click="vm.updateSourceFilters({ type: section.name, enabled: false })">None</button>
					<span class="sources-modal--source-section-header">
						{{ section.name }}
					</span>

					<ul>
						<li class="search--source"
							ng-repeat="source in section.sources"
							ng-class="{ 'search--source__off': !vm.filters.source[source] }">
							<label>
								<input type="checkbox" ng-model="vm.filters.source[source]">
								{{ source }}
							</label>
						</li>
					</ul>

				</div>
				<div>
					<a href="https://github.com/Asmor/5e-monsters/wiki/Extra-content-for-KFC">Add additional content</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
	</div>
	<!-- Custom Content Modal -->
	<div class="modal" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Manage Content</h4>
			</div>
			<div class="modal-body">
				<ul>
					<li class="row search--content-row" ng-repeat="contentDefinition in getContent()">
						<div class="col-lg-1">
							<button
								ng-disabled="!contentDefinition.custom"
								class="btn btn-danger"
								ng-click="removeCustom(contentDefinition.id)"
							>
								<i class="fa fa-trash-o"></i>
							</button>
						</div>
						<div class="col-lg-9">
							{{ contentDefinition.name }}
							(Last updated: {{ contentDefinition.updated }})
							<div>
								<a
									class="search--sheet-link"
									ng-href="https://docs.google.com/spreadsheets/d/{{ contentDefinition.id }}/"
								>{{ contentDefinition.id }}</a>
							</div>
						</div>
					</li>
					<li class="row search--content-row">
						<div class="col-lg-5">
							<input class="form-control" placeholder="Name" ng-model="customName">
						</div>
						<div class="col-lg-5">
							<input class="form-control" placeholder="URL or ID" ng-model="customUrl">
						</div>
						<div class="col-lg-2">
							<button class="btn btn-primary" ng-click="addCustom()">Add</button>
						</div>
					</li>
				</ul>

				<div>
					<a href="https://github.com/Asmor/5e-monsters/wiki/Extra-content-for-KFC">Add additional content</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
	</div>	
	<!-- Regexp Content Modal -->
	<div class="modal" id="regexModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Regular Expressions</h4>
				</div>
				<div class="modal-body">
					<p>
						This is a quick-start guide to using Regular Expressions. Searching with Regular Expressions (RegExes) drastically increases the power of the search bar. 
						But much like <em>Augery</em> it can seem a bit of a ritual.
					</p>

					<h3>RegExp Basics</h3>
					<p>
						A regular expression takes the form of a string of text surrounded by <code>/</code> characters. 
						The search bar will attempt to match any pattern between the <code>/</code>'s. For example <code>/goblin/</code> 
						will find any creature which has a match for the word <em>"goblin"</em>
					</p>
					<p>
						This alone is no more useful than using the search bar in the classic manner. The power comes
						in with the various special symbols which an be used to form more sophisticated expressions.
					</p>

					<h3>Common Special characters</h3>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Symbol</th>
								<th scope="col">Description</th>
								<th scope="col">Example</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row"><code>/</code></th>
								<td>Marks the start and end of a RegEx</td>
								<td><code>/goblin/</code> matches <em>"goblin"</em></td>
							</tr>
							<tr>
								<th scope="row"><code>.</code></th>
								<td>Matches any characters</td>
								<td><code>/.at/</code> matches <em>"bat", "cat", "rat"</em> ect.</td>
							</tr>
							<tr>
								<th scope="row"><code>*</code></th>
								<td>Matches any number of the previous character</td>
								<td><code>/z*/</code> matches <em>"z", "zz", "zzz"</em> ect.</td>
							</tr>
							<tr>
								<th scope="row"><code>^</code></th>
								<td>Matches the start of a line</td>
								<td><code>/^wolf/</code> matches <em>"wolf"</em> but not <em>"giant wolf"</em></td>
							</tr>
							<tr>
								<th scope="row"><code>$</code></th>
								<td>Matches the end of a line</td>
								<td><code>/bugbear$/</code> matches <em>"bugbear"</em> but not <em>"bugbear chief"</em></td>
							</tr>
							<tr>
								<th scope="row"><code>[</code> and <code>]</code></th>
								<td>Matches any one of the characters inside it</td>
								<td><code>/[abc]/</code> matches <em>"a", "b"</em> or <em>"c"</em></td>
							</tr>
							<tr>
								<th scope="row"><code>[</code> and <code>]</code> with <code>-</code></th>
								<td>Allows you to specify a range of letters or numbers</td>
								<td><code>/[a-f]/</code> matches all letters between <em>a</em> and <em>f</em>
							</tr>
							<tr>
								<th scope="row"><code>|</code></th>
								<td>Allows you to select X or Y</td>
								<td><code>/giant|ogre/</code> matches both <em>"giant"</em> and <em>"ogre"</em>
							</tr>
						</tbody>
					</table>
					
					<h3>Useful Patterns</h3>
					<p>
						With the building blocks of RegExes laid out you can start to build some powerful search expressions. 
						Listed below are some common and useful expressions for searching the list of monsters
					</p>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">RegEx</th>
								<th scope="col">Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row"><code>/wolf|dog|hound|mastiff/</code></th>
								<td>Search for multiple monsters with completely different names</td>
							</tr>
							<tr>
								<th scope="row"><code>/adult.*dragon/</code></th>
								<td>Search for multiple variants of a monsters</td>
							</tr>
							<tr>
								<th scope="row"><code>/^swarm of.*$/</code></th>
								<td>Search for all monsters with a specific prefix</td>
							</tr>
						</tbody>
					</table>

					<h3>More RegExp Learning Content</h3>
					<p>
						A comprehensive video tutorial on Regular Expressions 
						<a target="_blank" href="https://www.youtube.com/watch?v=sa-TUpSx1JA">can be found here.</a>  
						While this video assumes you are using RegExes in a programming context, all the information applies to the Kobold Fight Club search bar.
						It is recommended to follow along with the video using <a target="_blank" href="https://regexr.com">RegExr</a>.
					</p>
					<p>
						This primer contained a non-exhaustive list of the RegExp special characters. For a more complete list please check 
						<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp#Special_characters_meaning_in_regular_expressions">
							the MDN RegExp docs
						</a>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
