<div class="search">
	<div class="search--search-form form-inline">
		<label class="sr-only">Search</label>
		<input class="form-control search-input" type="text" ng-model="vm.filters.search" placeholder="Search...">
		
		<select class="form-control"
				ng-model="vm.filters.size"
				ng-options="size for size in vm.sizes">
			<option value="">Any Size</option>
		</select>

		<select class="form-control"
				ng-model="vm.filters.type"
				ng-options="type for type in vm.types">
			<option value="">Any Type</option>
		</select>

		<select class="form-control"
				ng-model="vm.filters.minCr"
				ng-options="cr.numeric as cr.string for cr in vm.crList">
				<option value="">Min CR</option>
			</select>
		
		<select class="form-control"
				ng-model="vm.filters.maxCr"
				ng-options="cr.numeric as cr.string for cr in vm.crList">
			<option value="">Max CR</option>
		</select>

		<select class="form-control"
			ng-model="vm.filters.alignment"
			ng-options="alignment as alignment.text for (key, alignment) in vm.alignments">
			<option value="">Any Alignment</option>
		</select>

		<select class="form-control"
				ng-model="vm.filters.environment"
				ng-options="environment as environment for environment in vm.environments">
			<option value="">Any Environment</option>
		</select>
		<select class="form-control"
				ng-model="vm.filters.legendary"
				ng-options="legendary as legendary for legendary in vm.legendaryList">
			<option value="">Any Legendary</option>
		</select>
		<span ng-if="(vm.encounters | filter:{type:'pool'}).length > 0">
			<select class="form-control search--search-form--pool-control"
					ng-model="vm.filters.pool"
					ng-options="pool.name as pool.name+' Table' for pool in vm.encounters | filter:{type:'pool'}">
				<option value="">Any Table</option>
			</select>
		</span>
		<select class="form-control search--search-form--sort-control"
			ng-model="vm.filters.sort"
			ng-options="sortChoice.value as 'Sort by ' + sortChoice.text for sortChoice in vm.sortChoices">
		</select>
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#sourcesModal">
			Set Sources
		</button>
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#contentModal">
			Manage Content
		</button>
	</div>
	<div class="search--reset">
		<button class="btn btn-danger" ng-click="vm.resetFilters()">Reset Filters</button>

		<div class="search--size-controls">
			<label>Page size:</label>
			<select class="form-control search--page-size"
				ng-model="vm.filters.pageSize"
				ng-options="page for page in [10, 25, 50, 100, 250, 500, 1000]"
			></select>
		</div>
	</div>
	<!-- Sources Modal -->
	<div class="modal" id="sourcesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Set Source Material</h4>
			</div>
			<div class="modal-body">
				<div
					class="sources-modal--source-section"
					ng-repeat="section in getSourceSections()"
				>

					<button class="btn btn-primary" ng-click="vm.updateSourceFilters({ type: section.name, enabled: true })">All</button>
					<button class="btn btn-primary" ng-click="vm.updateSourceFilters({ type: section.name, enabled: false })">None</button>
					<span class="sources-modal--source-section-header">
						{{ section.name }}
					</span>

					<ul>
						<li class="search--source"
							ng-repeat="source in section.sources"
							ng-class="{ 'search--source__off': !vm.filters.source[source] }">
							<label>
								<input type="checkbox" ng-model="vm.filters.source[source]">
								{{ source }}
							</label>
						</li>
					</ul>

				</div>
				<div>
					<a href="https://github.com/Asmor/5e-monsters/wiki/Extra-content-for-KFC">Add additional content</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
	</div>
	<!-- Custom Content Modal -->
	<div class="modal" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Manage Content</h4>
			</div>
			<div class="modal-body">
				<ul>
					<li class="row search--content-row" ng-repeat="contentDefinition in getContent()">
						<div class="col-lg-1">
							<button
								ng-disabled="!contentDefinition.custom"
								class="btn btn-danger"
								ng-click="removeCustom(contentDefinition.id)"
							>
								<i class="fa fa-trash-o"></i>
							</button>
						</div>
						<div class="col-lg-9">
							{{ contentDefinition.name }}
							(Last updated: {{ contentDefinition.updated }})
							<div>
								<a
									class="search--sheet-link"
									ng-href="https://docs.google.com/spreadsheets/d/{{ contentDefinition.id }}/"
								>{{ contentDefinition.id }}</a>
							</div>
						</div>
					</li>
					<li class="row search--content-row">
						<div class="col-lg-5">
							<input class="form-control" placeholder="Name" ng-model="customName">
						</div>
						<div class="col-lg-5">
							<input class="form-control" placeholder="URL or ID" ng-model="customUrl">
						</div>
						<div class="col-lg-2">
							<button class="btn btn-primary" ng-click="addCustom()">Add</button>
						</div>
					</li>
				</ul>

				<div>
					<a href="https://github.com/Asmor/5e-monsters/wiki/Extra-content-for-KFC">Add additional content</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		</div>
	</div>
</div>
