<div
	class="combatant-setup"
	ng-class="'combatant-setup__' + vm.combatant.type"
>
	<span class="combatant-setup--name">
		<input class="combatant-setup--input combatant-setup--input__name" ng-model="vm.combatant.name">
	</span>
	<span class="combatant-setup--initative-mod">
		<span ng-if="!vm.combatant.fixedInitiative">
			Initiative Mod: <span ng-if="vm.combatant.initiativeMod >= 0">+</span>{{ vm.combatant.initiativeMod }}
			<span ng-if="vm.combatant.advantageOnInitiative">(A)</span>
		</span>
	</span>
	<span class="combatant-setup--initative">
		Initiative: 
		<span ng-if="!vm.combatant.fixedInitiative">
			<number-input
				model="vm.combatant.initiative"
				buttons="[-1, 1]"
			></number-input>
			<button
				class="combatant-setup--button combatant-setup--button__roll"
				ng-click="vm.combat.rollInitiative(vm.combatant)"
				ng-if="!vm.combatant.initiativeRolled"
			>
				Roll
			</button>
		</span>
		<span ng-if="vm.combatant.fixedInitiative">
			{{ vm.combatant.initiative }}
		</span>
	</span>
	<span class="combatant-setup--hp">
		<span ng-if="!vm.combatant.noHp">
			HP:
			<number-input
				model="vm.combatant.hp"
				buttons="[-5, -1, 1, +5]"
				ng-if="vm.combatant.type != 'player'"
			></number-input>
			<span ng-if="vm.combatant.type == 'player'">
				{{ vm.combatant.hp - vm.combatant.damage }} / {{ vm.combatant.hp }}
			</span>
		</span>
	</span>
</div>
