* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	padding-top: 70px;
}

table {
	border-collapse: collapse;
}

td {
	vertical-align: top;
}

ul {
	list-style-type: none;
}

input[type=number] {
	/* Remove controls from Firefox */
	-moz-appearance: textfield;

	/* Remove controls from Safari and Chrome */
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
  		margin: 0; /* Removes leftover margin */
	}
}