@mixin avoid-menu {
	min-height: $menu-button-height;
	padding-left: $menu-button-width + 10;
}

@mixin header {
	padding: 5px;
	background-color: #000;
	color: #ddd;
	font-weight: bold;
}

@mixin combatant-colors {
	&__player {
		background-color: $combatant-player;
	}
	&__enemy {
		background-color: $combatant-enemy;
	}
	&__lair {
		background-color: $combatant-lair;
	}
}

@mixin challenge-colors {
	&__deadly {
		background-color: lighten($brand-danger, 20%);
	}

	&__hard {
		background-color: lighten($brand-warning, 15%);
	}

	&__medium {
		background-color: darken($state-warning-bg, 5%);
	}

	&__easy {
		background-color: $state-success-bg;
	}

	&__pair {
		background-color: $state-info-bg;
	}

	&__group {
		background-color: lighten(#ebf, 7%);
	}

	&__trivial {
		background-color: #fff;
	}
}
