<div
	class="combatant-setup"
	ng-class="'combatant-setup__' + combatant.type"
>
	<span class="combatant-setup--name">
		<input class="combatant-setup--input combatant-setup--input__name" ng-model="combatant.name">
	</span>
	<span class="combatant-setup--initative-mod">
		<span ng-if="!combatant.fixedInitiative">
			Initiative Mod: <span ng-if="combatant.initiativeMod >= 0">+</span>{{ combatant.initiativeMod }}
		</span>
	</span>
	<span class="combatant-setup--initative">
		Initiative: 
		<span ng-if="!combatant.fixedInitiative">
			<number-input
				model="combatant.initiative"
				buttons="[-1, 1]"
			></number-input>
			<button
				class="combatant-setup--button combatant-setup--button__roll"
				ng-click="rollInitiative(combatant)"
				ng-if="!combatant.initiativeRolled"
			>
				Roll
			</button>
		</span>
		<span ng-if="combatant.fixedInitiative">
			{{ combatant.initiative }}
		</span>
	</span>
	<span class="combatant-setup--hp">
		<span ng-if="!combatant.noHp">
			HP: <number-input
				model="combatant.hp"
				buttons="[-5, -1, 1, +5]"
			></number-input>
		</span>
	</span>
</div>
