.encounter-builder {
	display: none;
	position: fixed;
	bottom: 0;
	left: $sidebar-width;
	right: 0;
	height: $encounter-builder-height;
	box-sizing: border-box;

	&__shown {
		display: block;
	}

	&--body {
		position: absolute;
		top: 30px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
	}

	&--column {
		&__buttons {	width: 60px; }
		&__name {		width: auto; }
		&__cr {			width: 60px; }
		&__exp {		width: 100px; }
		&__source {		width: 180px; }
	}

	&--header {
		@include header;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	&--row {
		border-bottom: 1px solid black;
	}

	&--table {
		width: 100%;

		> tbody > tr > td {
			padding: 5px;
		}
	}
}