.encounter-builder {
	display: none;
	position: fixed;
	bottom: 0;
	left: $sidebar-width;
	right: 0;
	height: $encounter-builder-height;
	box-sizing: border-box;

	&__shown {
		display: block;
	}

	&--body {
		position: absolute;
		top: 30px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
	}

	&--guidelines {
		float: right;
	}

	&--guidelines-active {
		font-weight: bold;
	}

	&--guidelines-values {
		text-align: right;
		padding-left: 5px;
		padding-right: 20px;
	}

	&--header {
		@include header;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	&--party-settings {
		float: right;
		padding-right: 20px;
	}
}