.monster-table {
	position: fixed;
	top: 0;
	bottom: 0;
	left: $sidebar-width;
	right: 0;
	overflow: auto;

	&.monster-table__short {
		bottom: $encounter-builder-height;
	}

	&--table {
		> tbody, > thead {
			> tr > td {
				padding: 5px;
			}
		}

		> thead {
			@include header;
		}

	}

	&--row {
		border-bottom: 1px solid black;

		@include challenge-colors;
	}

	&--section {
		font-size: 0.8rem;
		font-variant: small-caps;
	}

	&--tags {
		font-style: italic;
	}
}