.monster-table {
	position: fixed;
	top: 0;
	bottom: 0;
	left: $sidebar-width;
	right: 0;
	overflow: auto;

	&--table {
		> tbody, > thead {
			> tr > td {
				padding: 5px;
			}
		}

		> thead {
			background-color: #222;
			color: #ddd;
			font-weight: bold;
		}

	}

	&--row {
		&__even-row {
			background-color: #ddd;
		}
	}

	&--section {
		font-size: 0.8rem;
		font-variant: small-caps;
	}

	&--tags {
		font-style: italic;
	}
}