* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

table {
  border-collapse: collapse; }

td {
  vertical-align: top; }

ul {
  list-style-type: none; }

.filters {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  padding: 5px;
  overflow: auto; }
  .filters--section {
    padding-bottom: 10px; }
  .filters--source__off {
    color: #ddd;
    text-decoration: line-through; }

.monster-table {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;
  overflow: auto; }
  .monster-table.monster-table__short {
    bottom: 250px; }
  .monster-table--table > tbody > tr > td, .monster-table--table > thead > tr > td {
    padding: 5px; }
  .monster-table--table > thead {
    padding: 5px;
    background-color: #000;
    color: #ddd;
    font-weight: bold; }
  .monster-table--row {
    border-bottom: 1px solid black; }
  .monster-table--section {
    font-size: 0.8rem;
    font-variant: small-caps; }
  .monster-table--tags {
    font-style: italic; }

.encounter-builder {
  display: none;
  position: fixed;
  bottom: 0;
  left: 250px;
  right: 0;
  height: 250px;
  box-sizing: border-box; }
  .encounter-builder__shown {
    display: block; }
  .encounter-builder--body {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto; }
  .encounter-builder--header {
    padding: 5px;
    background-color: #000;
    color: #ddd;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
