.combatant {
	@extend %row;

	@include combatant-colors;

	&__active {
		box-shadow: inset 5px 5px 4px #FFD700, inset -5px -5px 4px #FFD700;
		font-weight: 600;
	}

	&--apply-button {
		@extend .encounter-button;
	}

	& > * {
		display: inline-block;
	}

	&--name {
		width: 250px;
	}

	&--initiative-label {
		width: 65px;
	}

	&--initiative {
		width: 30px;
		text-align: right;
		margin-right: 30px;
	}

	&--hp-label {
		width: 28px;
	}

	&--hp {
		display: inline-block;
		width: 70px;
		text-align: right;
	}
}