.combatant {
	@extend %row;

	@include combatant-colors;

	&__active {
		.combatant--name {
			font-weight: bold;
		}
	}

	&--apply-button {
		@extend .encounter-button;
	}

	&--name {
		display: inline-block;
		width: 250px;
	}

	&--initiative {
		display: inline-block;
		width: 30px;
		text-align: right;
		margin-right: 20px;
	}

	&--hp {
		display: inline-block;
		width: 70px;
		text-align: right;
	}
}